
.loader{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 250px;
  
}
.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
.gallerycontainer{
  margin-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .intro{
    margin-bottom: 0px;
  }
}
.category-tile {
  
  height: 450px;
    background-size: cover;
    background-position: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 50px;
}

.card {
    border: none !important;
    width: 15rem !important;
}

.category-tile:hover {
    transform: scale(1.05);
    
}


.category-container{
  overflow: hidden;
  margin: 15px;
}
.desc {
  margin: 20px;
}
.button {
  border: 1px solid lightgray;
  background-color: white;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.stickymassage {
  border:none;
  width: 100px;
  height: 40px;
  background-color: black;
  bottom:450px;
  right: -37px;
  position: fixed;
  float:left;
  display: flex;
  z-index: 1;
  rotate: 270deg;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.stickychat {
  border :none;
  width: 70px;
  height: 70px;
  background-color: white;
  bottom:5px;
  left: 0;
  position: fixed;
  float:left;
  display: flex;
  z-index: 1;
  border-radius: 50%;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 0 0 6px #ccc;
-webkit-box-shadow: 0 0 6px #ccc;
box-shadow: 0 0 6px #ccc;
  cursor: pointer;
}
/* Modal */
.overlaylay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalContainer {
  
  width: 65%;
  position: fixed;
  bottom: 0;
  right: 0;
  
  display: flex;
  background-color: #ffffff;
  border: 1px solid black;
  z-index: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.modalcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
  color: black;
  
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: black;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: black;
}

.bold {
  font-weight: 600;
}

.style-programm {
  padding:10px;
  margin-top: 30px;
  
}
.style-programm h2,h5 {
  margin-bottom: 20px;
}
.style-programm h5 {
  font-size: 16px;
}

.consultation-button{
  width:150px;
  border-radius:10px;
  margin-left:20px;
  color:white;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: none;
  
}
.consultation-button:hover{
  color:black;
  background-color:red;
  border:2px solid white;
}


@media screen and (max-width: 480px) {
  .modalContainer {
    flex-direction: column;
    bottom: 0;
    
    transform: none;
    width: 100%;
    height: 35vh;
  }
  

  .heading {
    margin: 1rem;
  }
}
