.Foot{
  background: black;
  overflow: hidden;
  width:100%;
  height: 450px;
  display: flex;
  justify-content: center;
}
.Foot:after{
  content: '';
  clear: both;
  display: table;
}
ul{
  left: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  -ms-user-select: none; 
  user-select: none; 
}
.Foot ul li{
  float: left;
  display: inline-block;
  background: black;
  margin: 0 5px;
  
}
.Foot ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
.Foot ul li a:hover{
  color: #f12020;
  border-radius: 5px;
  box-shadow:  0 0 5px #f12020,
               0 0 10px #f12020;
}
.Foot ul ul li a:hover{
  box-shadow: none;
}
.Foot ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #f12020;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  
}
.Foot ul ul ul{
  border-top: none;
}
.Foot ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.Foot ul ul li{
  position: relative;
  margin: 0px;
  width: 100%;
  float: none;
  display: list-item;
  
  border: 0px;
}
.Foot ul ul li a{
  line-height: 50px;
}
.Foot ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show-content,.icon{
  display: none;
}
.fa-angle-down{
  font-size: 15px;
  margin-left: 40px;
}

@media all and (max-width: 480px) {
.Foot ul{
   width:"100%";
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
.Foot .logo{
    
    width: 100%;
  }
  .opencontent {
    display:none;
  }
  .show-content{
    display: none;
  }
  
.Foot ul li,.Foot ul ul li{
  
    width: 85%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .Foot ul ul li{
    width: 90%;
  }
  .opencontent{
    display: block;
    color: white;
    font-size: 18px;
    
    line-height: 70px;
    cursor: pointer;
  }
  
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
.Foot ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    
    display: none;
    opacity: 1;
    visibility: visible;
  }
  
  .second-ul {
    margin-top: 70px;
  }
  
.Foot ul ul ul li{
    
  }
  [id^=btn]:checked + ul{
    display: block;
  }
.Foot ul ul li{
    border-bottom: 1px solid gray;
    border-top: none;
  }
  
}

.center .footer-content .fas{

  font-size: 1.4375rem;

  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .footer-content .fas:hover{
  background: #f12020;
}
.center .footer-content .text{
  font-size: 1.0625rem;
  font-weight: 200;
  padding-left: 10px;
  
}
.center .footer-content .phone{
  margin: 15px 0;
}

.right form .text{

  font-size: 1.0625rem;

  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline: none;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 150px;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 200;
  cursor: pointer;
  transition: .3s;
  border-radius: 10px;
}
.right form .btn button:hover{
  background: #000;
  color:white;
  border: 1px solid white;
}
